::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #C4C4C4 !important;
}

::ng-deep .mat-form-field.mat-focused {
  .mat-form-field-ripple {
    background-color: #FF9E1B;
  }

  .mat-form-field-required-marker {
    color: #686868;
  }

  .mat-form-field-label {
    color: #686868;
  }

}

.mat-form-field {
  width: 100%;
  height: 50px;

  .mat-icon {
    color: #C4C4C4;
    cursor: pointer;
    font-size: 20px;
  }
}

.login-input {
  font-weight: bold;
  background: #EFF1F2 0% 0% no-repeat padding-box;
  border-radius: 10px;
  border: none;
  width: 230px;
  height: 40px;
  opacity: 1;
  outline: none;
  padding: 10px 5px;
}

.login-button {
  width: 300px;
  height: 50px;
  border: none;
  background: #303030 0% 0% no-repeat padding-box;
  border-radius: 8px;

  margin-top: 50px;
  text-align: center;
  letter-spacing: 0;
  font-size: 16px;
  color: #FFFFFF;
  opacity: 1;
}

.login-background {
  background-image: url(../../../assets/images/fundo-card-checkmob.png) !important;
  background-size: 100% 100% ;
  background-repeat: no-repeat;
}